h1{
    font-size: 5rem;
    color: rgb(102, 24, 24);
    font-weight: 900;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
}
p{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.btn:hover{
    background-color: green;
}